:root {
    --big-font: calc(10px + 2vmin)
  }

  /* ssssssssssssssssssssssssssss */
  /* body {
    background-color: #120439;
    height: 100%;
    font-family: 'tradegothiclt-bold', sans-serif;
  }
  
  h1 {
    font-size: 5em;
    color: white;
    text-transform: uppercase;
  }  
  
  
  span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  } 
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  } */
/* ssssssssssssssssssssssssssssssss */

.type-writer {
  /* align-items: center;
  text-align: center;
  justify-content: center; */
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
} 

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

html {background-color: #282c34}

/* switching to class mode */
.section-welcome-jumbo {
    /* background-color: #282c34; */
    padding-top: 45px;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: var(--big-font);
    color: white;

    /* https://www.pexels.com/photo/black-textile-on-black-textile-5086477/ */
    /* Photo taken by Alex Andrews from Pexels :) */
    /* background-image: url('https://images.pexels.com/photos/5086477/pexels-photo-5086477.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
    background-image: url('../media/welcome_landing_page.jpg');
    /* Create the parallax scrolling effect */
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#name {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url('https://images.pexels.com/photos/3629227/pexels-photo-3629227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* https://www.pexels.com/photo/silhouette-of-mountains-1323550/ */
    /* https://www.pexels.com/photo/silhouette-of-buildings-3629227/ */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.font-main-theme {
  color: '#ffd6a2'
}

.button-more-about {
  background-color: transparent !important;
  border-width: calc(1px + 0.25vw);
  font-size: calc(10px + 0.40vw);
  border-color:#ffd6a2; 
  color: white;
  width:auto;
  
  transition: border-color 0.20s ease-in-out;
}

.button-more-about:hover {
  background-color: transparent;
  border-color:rgba(148, 148, 148, 0.61);
  color: #ffd6a2;
  text-shadow: 1px 1px 7px #ffd6a2;
}

.button-more-about:active {
  background-color: transparent;
  border-color:rgba(148, 148, 148, 0.61) !important;
  color: #ffd6a2; 
}

.logos {
  /* border-color:#ffd6a2;  */
  color: #ffd6a2;
  transition: color 0.20s ease-in-out;
  transition: font-size 0.175s ease-in-out;
}

.logos:hover {
  background-color: transparent;
  color:rgba(148, 148, 148, 0.61);
  font-size: 120%;
}

.section-about-jumbo {
    /* background-color: #a2c1ff; */
    /* background-color: #3c8dde; */
    background-color: #0c0c0e;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--big-font);
    color: #282c34;
  }

.section-projects-jumbo {
    background-color: #00a46b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--big-font);
    color: #282c34;
  }

  .align-flex-style {
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  /* .navbar,
  .navbar-default {
      background-image: linear-gradient(to bottom,#2c4053 0,#2c4053 100%) !important; /* override background image gradient w/ flat color 
  } */

  /* .navbar-dark,
  .navbar-nav,
  .nav-link {
    color: yellow;
    /* mix-blend-Mode: difference; 
    mix-blend-Mode: exclusion;
  } */
  /* style={{mix-blend-Mode: 'difference'}} */