:root {
    --big-font: calc(10px + 2vmin)
  }

  /* ssssssssssssssssssssssssssss */
  /* body {
    background-color: #120439;
    height: 100%;
    font-family: 'tradegothiclt-bold', sans-serif;
  }
  
  h1 {
    font-size: 5em;
    color: white;
    text-transform: uppercase;
  }  
  
  
  span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  } 
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  } */
/* ssssssssssssssssssssssssssssssss */

.type-writer {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
} 

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

html {background-color: #282c34}

/* switching to class mode */
.section-welcome-jumbo {
    background-color: #282c34;
    padding-top: 45px;
    min-height: 65vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: var(--big-font);
    color: white;
  }

.section-about-jumbo {
    background-color: #a2c1ff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--big-font);
    color: #282c34;
  }

.section-projects-jumbo {
    background-color: #00a46b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--big-font);
    color: #282c34;
  }

  /* .navbar,
  .navbar-default {
      background-image: linear-gradient(to bottom,#2c4053 0,#2c4053 100%) !important; /* override background image gradient w/ flat color 
  } */

  /* .navbar-dark,
  .navbar-nav,
  .nav-link {
    color: yellow;
    /* mix-blend-Mode: difference; 
    mix-blend-Mode: exclusion;
  } */
  /* style={{mix-blend-Mode: 'difference'}} */