
.projectImage {
    /* size: 50px; */
    /* width:102%; */
    /* transform:scale(1.0); */
    /* position: relative; */
    /* left: 12%; */
    right: 230px;
    /* margin-left: 10%; */
    /* border-radius: 50%; */
    /* transition: color 0.20s ease-in-out; */
    transition: transform 0.175s ease-in-out;
}

.projectImage:hover {
    /* size: 50px; */
    /* width:110%; */
    transform:scale(1.05);
    height: auto;
    /* position: relative; */
    /* left: 12%; */
    /* right: 230px; */
}

.projectCard {
    /* box-shadow: 5px 10px; */
    transition: box-shadow 0.325s ease-in-out;
}

.projectCard:hover {
    /* box-shadow: 20px 10px 75px white; */
    box-shadow: 10px 10px 90px rgba(255, 255, 255, 0.25); 
}